wheel>=0.37.1
beautifulsoup4>=4.12.2
geoip2>=4.8.0
jsbeautifier>=1.14.11
lxml>=4.9.3
mysqlclient>=2.2.0
pyrabin>=0.6
requests>=2.31.0
asn1crypto>=1.5.1
esprima>=4.0.1
python-dateutil>=2.8.2
setproctitle>=1.3.3
pyvirtualdisplay>=3.0
selenium==4.16.0
tldextract==5.1.1
urllib3==2.1.0
