wheel>=0.36.2
beautifulsoup4>=4.8.2
geoip2>=3.0.0
jsbeautifier>=1.11.0
lxml>=4.5.0
mysqlclient>=1.4.6
pyrabin>=0.6
requests>=2.23.0
selenium==3.141.0
tldextract==4.0.0
asn1crypto>=1.4.0
esprima>=4.0.1
python-dateutil>=2.8.1
setproctitle>=1.2.2
urllib3==1.26.6
pyvirtualdisplay>=3.0
seleniumwire=3.0.6